<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, crop: :fill %>);">
  <div class="d-flex justify-content-center">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="wrap">
  <div class="d-flex justify-content-end">
  <%= link_to "Add a new movie", new_list_bookmark_path(@list) %>
  </div>

  <div class="cards-movie-wrap">
    <% @list.bookmarks.each do |element| %>
      <div class="card-movie">

        <img src="<%= element.movie.poster_url %>" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title"><%= element.movie.title %></h5>
          <p class="card-text"><%= element.comment %></p>

          <div class="d-flex justify-content-end">
            <%= link_to "Remove", bookmark_path(element), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>

        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to "Back to lists", root_path, class: "go-back-button" %>
  </div>
</div>
