<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<ul>
  <% @list.bookmarks.each do |element| %>
  <li>
    <%= element.movie.title %>
      <%= link_to "Delete",
        bookmark_path(element),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  </li>
  <% end %>
</ul>

<%= link_to "Bookmark a movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to lists", root_path %>
